<div class="mx-auto p-4">
    <article class="mx-auto max-w-5xl">
        <%- list_categories({show_count: false, style: false, separator: ' ',   
        transform(str) {
            return '<span class="btn mx-2 mb-2">' + str + '</span>';
        }}) %>      
    </article>
</div>


