<div class="mx-auto p-4">
    <article class="mx-auto max-w-5xl prose">
        <%- list_tags(site.tags, {class: {a: 'btn join-item mx-2 mb-2'}, style: false, separator: ' '}) %>       
    </article>
</div>