
<div class="mx-auto px-4">
    <div class="card">
        <div class="card-title">    
        </div>
        <div class="card-body">
            <article class="mx-auto max-w-5xl prose ">
                <%- list_tags(site.tags, {class: {a: 'btn join-item mx-2 mb-2'}, style: false, separator: ' '}) %>       
            </article>
        </div>
    </div>
</div>