<footer class="flex-none footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4 min-h-12">
  <aside class="grid-flow-col items-center">
    <svg class="items-center" width="24" height="24" viewBox="0 0 1024 1024" fill="fill-current" xmlns="http://www.w3.org/2000/svg">
      <rect x="256" y="670.72" width="512" height="256" rx="128" fill="#1AD1A5"/>
      <circle cx="512" cy="353.28" r="256" fill="white"/>
      <circle cx="512" cy="353.28" r="261" stroke="black" stroke-opacity="0.2" stroke-width="10"/>
      <circle cx="512" cy="353.28" r="114.688" fill="#FF9903"/>
    </svg>
    <p>
      Copyright © 2024 - All right reserved
      <br />
      Powered by daisyUI
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
    </div>
  </nav>
</footer>